.questions-list {
  padding: 0 10%;
  width: 50%;
}

.question {
  font-size: 20px;
}

.preguntas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.query {
  width: 100%;
  flex-basis: 400px;
}
