.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: white;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main:first-child {
  display: block;
}

.modal-label {
  height: 20px;
  font-size: 20px;
}
