.note-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0;
  flex-wrap: wrap;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.945);
}

.note-type {
  font-size: 20px;
  padding: 5px 15px;
}

.note-type:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .note-nav {
    flex-direction: row;
  }
}
