.about-section {
  padding: 0 10%;
}

.question {
  font-size: 20px;
  padding: 5px 0;
}

.question:hover {
  text-decoration: line-through;
}

.preguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
