.logo {
  display: flex;
  font-size: 15vw;
  font-weight: bold;
  margin: 5%;
  letter-spacing: -3px;
  border-bottom: 10px black dashed;
}

@media only screen and (min-width: 666px) {
  .logo {
    font-size: 100px;
  }
}
